/* Tab Navigation Component - Using MDS Tabs Tokens */
.ui-TabNav {
  display: flex;
  gap: var(--mds-tabs-gap);
  margin-bottom: 2rem;
}

.ui-TabNav__tab {
  background: var(--mds-tabs-background-default);
  border: none;
  border-bottom: var(--mds-tabs-indicator-height) solid transparent;
  padding: var(--mds-tabs-padding-y) var(--mds-tabs-padding-x);
  font-family: var(--mds-tabs-font-family);
  font-size: var(--mds-tabs-font-size);
  font-weight: var(--mds-tabs-font-weight-default);
  line-height: var(--mds-tabs-line-height);
  color: var(--mds-tabs-text-default);
  cursor: pointer;
  transition: all var(--mds-tabs-transition-duration) var(--mds-tabs-transition-timing);
  position: relative;
  min-height: var(--mds-tabs-min-height);
}

.ui-TabNav__tab:hover {
  color: var(--mds-tabs-text-hover);
  background-color: var(--mds-tabs-background-hover);
}

.ui-TabNav__tab--active {
  color: var(--mds-tabs-text-active);
  font-weight: var(--mds-tabs-font-weight-active);
  border-bottom-color: var(--mds-tabs-indicator-color);
  background: var(--mds-tabs-background-active);
}

.ui-TabNav__tab:focus-visible {
  outline: 2px solid var(--mds-tabs-indicator-color);
  outline-offset: 2px;
}

.ui-TabNav__tab:disabled {
  color: var(--mds-tabs-text-disabled);
  cursor: not-allowed;
}
